body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
        
}

* {
    transition: all 0.2s ease-in-out;
}

.section-layout {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 76px;
    background-color: $beige;
    position: relative;
    
    .section-header {
        font-size: 3rem;
        font-weight: 600;
        color: black;
        margin-bottom: 6rem;
    }
}

.form-layout {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 4rem;

    position: relative;

    a {text-decoration: none;}

}

.section-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    
}

.section-title {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    color: $black;
    position: relative;
}

.section-select {
    border: 2px solid lighten($black, 90);
    background-color: $white;
    padding: 8px 8px;
    min-width: 250px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;

    &:focus {
        outline: none;
        border: 2px solid $mainBgColor;
    }
}

.highlight-green {
    background-color: lighten(#06FF00, 20);
    display: inline-block;
    padding: 0px 4px;
    border-radius: 4px;
    line-height: 1rem;
    margin: 0rem 4px;
}

.underline {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    .section-layout {
        padding: 48px 12px;

        .section-header {
            font-size: 2rem;
            font-weight: 600;
            color: black;
            margin-bottom: 2rem;
        }
    }
}